/* Mini reset */
@font-face {font-family: Consolas;
  src:  url("../fonts/consolas/CONSOLA.TTF") format("truetype"),
        url("../fonts/consolas/CONSOLAB.TTF") format("truetype"), 
        url("../fonts/consolas/consolai.ttf") format("truetype"), 
        url("../fonts/consolas/Consolas.ttf") format("truetype"), 
        url("../fonts/consolas/consolaz.ttf") format("truetype") ;
}

body {
  margin: 0;
  background: #fafafa;
}

body, h1, h2, p, a, input {
  color: #555;
  font-family: Consolas, Arial;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

/* header styles */
header {
  display: flex;
  width: 100%;
  padding: 25px 10%;
  text-align: right;
  align-items: center;
  background: #fff;
  box-sizing: border-box;
  box-shadow: 0px 0px 6px rgba(0,0,0,0.1);
}

header .user-profile {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: left;
}

header .user-profile img{
  border-radius: 50%;
  border-color: #ffe100;
  width: 3rem;
}

header nav {
  flex: 2;
}

header a {
  margin-left: 10px;
  border-bottom: 2px solid #ffe100;
  padding: 4px;
  cursor: pointer;
  font-size: 1.2rem;
}

header a:hover {
  background: #ffe100;
  color: #000;
}

/* Content Styles */
.content {
  max-width: 800px;
  margin: 40px auto;
}

/* request list styles */
.request-list li {
  padding: 20px;
  margin: 10px auto;
  list-style-type: none;
  background: #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.1);
  display: flex;
  justify-content: space-between;
}

.request-list .votes{
  position: relative;
  /* top: -5px; */
  z-index: 0; 
}

.request-list .upvote{
  cursor: pointer;
  border-radius: 50%;
}

.request-list .upvote:active{
  color: black;
  background: #ffe100;
}

/* modal styles */
.modal {
  width: 300px;
  padding: 30px;
  margin: 100px auto;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 0px rgba(0,0,0,0.1);
  text-align: center;
}

.new-request {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0,0,0,0.4);
  z-index: 1;
  display: none;
}

.new-request.open {
  display: block;
}

/* Form element styles */
input {
  display: block;
  margin: 8px 0;
  padding: 8px 2px;
  border-width: 0 0 2px 0;
  width: 100%;
}

button {
  margin-top: 10px;
  padding: 8px 12px;
  background: #ffe100;
  border: 0;
  margin-bottom: 40px;
  font-weight: bold;
  font-family: inherit;
  cursor: pointer;
}

/* auth styles */
.auth {
  width: 100%;
  height: 100%;
  position: fixed;
  background: #fafafa;
  display: none;
  z-index: 1;
}

.auth.open{
  display: block;
}

.auth a {
  text-decoration: underline;
  cursor: pointer;
}

.auth .modal {
  display: none;
}

.auth .modal.active {
  display: block;
}

.error {
  color: red;
}

.success {
  color: #ffe100;
}
.upvoted {
  background: #ffe100;
}

footer {
  width: 100%;
  padding: 5px;
  text-align: center;
  position: fixed;
  bottom: 0;
  background: white;
  z-index: 1;
  box-shadow: 0px 0px 6px rgba(0,0,0,0.1);
}

footer a {
  border-bottom: 2px solid #ffe100;
  cursor: pointer;
}

footer a:hover {
  background: #ffe100;
  color: #000;
}

@media screen and (max-width: 500px) {
  header {
    padding: 20px 3%;
  }
  header nav {
    flex: 5;
  }
  .user-email {
    display: none;  
  }
  .modal {
    width: 250px;
  }
  .footer-text {
    display: none;
  }
}